
{% include 'admin_sidebar.html'%}
<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card-body">
                    {%with messages =get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category ,m in messages%}
                            <div class="alert alert-{{category}} text-center">{{m}}</div>
                        {%endfor%}
                    {%endif%}
                    {%endwith%}
                    <h2 class="text-center mb-4">Enter Chapter Details</h2>
                    <form method="post" action="{{url_for('add_chapter',subject_id=subject_id)}}">
                        <div class="mb-3">
                            <label for="id" class="form-label">ID</label>
                            <input type="text" class="form-control" id="id" name="id" required>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description" name="description" required>
                        </div>
                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-outline-info w-100">Submit</button>
                        </div> 
                    </form>                  
                </div>
            </div>
        </div>
    </div>
</div>
