{% include 'admin_sidebar.html'%}

{% block content %}
<div class="container mt-5 pt-5" >
<div class="mt-5">
  <h2 class="text-center ">Manage Subject</h2>
  <br>
  <div class="table-responsive">
  <table class="table table-hover table-bordered">
      <thead class="table-info text-center">
        <tr>
          <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Manage Chapter</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {%for subject in subjects%}
        <tr>
          <td>{{subject.id}}</td>
            <td>{{subject.name}}</td>
            <td>{{subject.description}}</td>
            <td><a href="{{url_for('manage_chapter',subject_id=subject.id)}}"class="btn btn-outline-info">Manage Chapter</a></td>
            <td>
            <a href="{{url_for('edit_subject',subject_id=subject.id)}}"class="btn btn-outline-warning me-2 d-inline-block">Edit</a>
            <form action="{{url_for('delete_subject',subject_id=subject.id)}}" method="post" class="d-inline-block">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
            </form>
            </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>

</div>
<div class="row justify-content-center">
  <div class="col-md-10">
    <a href="{{url_for('add_subject')}}" class="btn btn-outline-primary">Add New Subject</a>
  </div>
  
</div>
{% endblock %}