{% include 'admin_sidebar.html'%}
<br><br><br>
<form method="post" action="{{url_for('edit_quiz',quiz_id=quiz.id)}}">
    {%with messages =get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category ,m in messages%}
                <div class="alert alert-{{category}} text-center">{{m}}</div>
            {%endfor%}
        {%endif%}
    {%endwith%}
    <h2>Edit Quiz</h2>
    <label for="chapter_id"><b>Chapter Id : </b></label>
    <select id="chapter_id" name="chapter_id" required>
        <option value=""disabled selected>Select Chapter</option>
        {% for chapter in chapters%}
            <option value="{{chapter.id}}" {% if chapter.id ==quiz.chapter_id %}selected{%endif%}>{{chapter.id}} : {{chapter.name}}</option>
        {% endfor %}
    </select>
    <br><br>
    <label for="id"><b>ID : </b></label>
    <input type="text" id="id" name="id" value="{{quiz.id}}" required>
    <br><br>

    <label for="remarks"><b>Remarks : </b></label>
    <input type="text" id="remarks" name="remarks"value="{{quiz.remarks}}" required>
    <br><br>


    <label for="quiz_date"><b>Quiz Date : </b></label>
    <input type="date" id="quiz_date" name="quiz_date" value="{{quiz.quiz_date}}" required>
    <br><br>

    <label for="time_dur"><b>Time Duration : </b></label>
    <input type="time" id="time_dur" name="time_dur" value="{{quiz.time_dur}}" required>
    <br><br>



   
    <input type="submit" value ="Submit">
</form>