{% include 'admin_sidebar.html'%}
<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card-body">
                    
                    <h2 class="text-center mb-4">Edit Quiz</h2>
                    <form method="post" action="{{url_for('edit_quiz',quiz_id=quiz.id)}}">
                        <div class="mb-3">
                            <label for="chapter_id" class="form-label">Chapter Id </label>
                            <select id="chapter_id" class="form-control" name="chapter_id" required>
                                <option value=""disabled selected>Select Chapter</option>
                                {% for chapter in chapters%}
                                    <option value="{{chapter.id}}"{% if chapter.id ==quiz.chapter_id %}selected{%endif%}>{{chapter.id}} : {{chapter.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="remarks" class="form-label">Remarks</label>
                            <input type="text" class="form-control" id="remarks" name="remarks" value="{{quiz.remarks}}" required>
                        </div>
                        <div class="mb-3">
                            <label for="quiz_date" class="form-label">Quiz Date</label>
                            <input type="date" class="form-control" id="quiz_date" name="quiz_date" value="{{quiz.quiz_date}}"required>
                        </div>
                        <div class="mb-3">
                            <label for="time_dur" class="form-label">Quiz Duration</label>
                            <input type="time" class="form-control" id="time_dur" name="time_dur" value="{{quiz.time_dur}}"required>
                        </div>

                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-outline-info w-100">Submit</button>
                        </div> 
                    </form>                  
                </div>
            </div>
        </div>
    </div>
</div>
