{% include 'admin_sidebar.html'%}
<div class="d-flex flex-column justify-content-center align-items-center "style=" margin-top: 80px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                
                <div class="card-body">
                    
                    <h2 class="text-center mb-4">Edit Question</h2>
                    <form method="post" action="{{url_for('edit_question',quiz_id=quiz_id,question_id=question.id)}}">
                        <div class="mb-3">
                            <label for="que" class="form-label">Question</label>
                            <input type="text" class="form-control" id="que" name="que" value="{{question.que}}"required>
                        </div>
                        <div class="mb-3">
                            <label for="o_a" class="form-label">Option A</label>
                            <input type="text" class="form-control" id="o_a" name="o_a" value="{{question.o_a}}"required>
                        </div>
                        <div class="mb-3">
                            <label for="o_b" class="form-label">Option B</label>
                            <input type="text" class="form-control" id="o_b" name="o_b" value="{{question.o_b}}"required>
                        </div>
                        <div class="mb-3">
                            <label for="o_c" class="form-label">Option C</label>
                            <input type="text" class="form-control" id="o_c" name="o_c" value="{{question.o_c}}"required>
                        </div>
                        <div class="mb-3">
                            <label for="o_d" class="form-label">Option D</label>
                            <input type="text" class="form-control" id="o_d" name="o_d" value="{{question.o_d}}"required>
                        </div>
                        <div class="mb-3">
                            <label for="correct_o" class="form-label">Correct Option </label>
                            <select name="correct_o" class="form-control" id="correct_o">
                                <option value="A"{% if question.correct_o == 'A' %}selected{% endif %}>A</option>
                                <option value="B"{% if question.correct_o == 'B' %}selected{% endif %}>B</option>
                                <option value="C"{% if question.correct_o == 'C' %}selected{% endif %}>C</option>
                                <option value="D"{% if question.correct_o == 'D' %}selected{% endif %}>D</option>
                            </select>
                        </div>
                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-outline-info w-100">Submit</button>
                        </div> 
                    </form>                  
                </div>
            </div>
        </div>
    </div>
</div>
