{% include 'admin_sidebar.html'%}

{% block content %}
<div class="container mt-5 pt-5" >
<div class="mt-5">
  <h2 class="text-center ">Manage User </h2>
  <br>
  <div class="table-responsive">
  <table class="table table-hover table-bordered">
      <thead class="table-info text-center">
        <tr>
          <th>User ID</th>
          <th>User Name</th>
          <th>User Email</th>
          <th>User D.O.B</th>
          <th>User Qualification</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {%for user in users%}
        <tr>
          <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.date_of_birth}}</td>
            <td>{{user.qualification}}</td>
            <td>
            <form action="{{url_for('delete_user',id=user.id)}}" method="post">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
            </form>
            </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>

</div>

{% endblock %}