{% include 'admin_sidebar.html'%}

{% block content %}
<div class="container mt-5 pt-5" >
<div class="mt-5">
  <h2 class="text-center ">Manage Quiz</h2>
  <br>
  <div class="table-responsive">
  <table class="table table-hover table-bordered">
      <thead class="table-info text-center">
        <tr>
          <th>ID</th>
            <th>Chapter ID</th>
            <th>Remarks</th>
            <th>Quiz Date</th>
            <th>Time Duration</th>
            <th>Manage Question</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {%for quiz in quizzes%}
        <tr>
          <td>{{quiz.id}}</td>
            <td>{{quiz.chapter_id}}</td>
            <td>{{quiz.remarks}}</td>
            <td>{{quiz.quiz_date}}</td>
            <td>{{quiz.time_dur}}</td>
            <td><a href="{{url_for('manage_question',quiz_id=quiz.id)}}"class="btn btn-outline-info">Manage Questions</a></td>
            <td>
            <a href="{{url_for('edit_quiz',quiz_id=quiz.id)}}"class="btn btn-outline-warning me-2 d-inline-block">Edit</a>
            <form action="{{url_for('delete_quiz',quiz_id=quiz.id)}}" method="post" class="d-inline-block">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
            </form>
            </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>

</div>
<div class="row justify-content-center">
  <div class="col-md-10">
    <a href="{{url_for('add_quiz')}}" class="btn btn-outline-primary">Add New Quiz</a>
  </div>
  
</div>
{% endblock %}