
{% include 'admin_sidebar.html'%}
<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card shadow-lg border-0 rounded">
                    <div class="card-body">
                    <h2 class="text-center mb-4 text-primary">Subject Details</h2>
                    <h5><strong>ID : </strong>{{quiz.id}}</h5>
                    <h5><strong>Chapter : </strong>{{quiz.chapter_id}}</h5>
                    <h5><strong>Remarks : </strong>{{quiz.remarks}}</h5>
                    <h5><strong>Quiz Date : </strong>{{quiz.quiz_date}}</h5> 
                    <h5><strong>Time Duration : </strong>{{quiz.time_dur}}</h5>
                    </div>              
                </div>
            </div>
        </div>
    </div>
</div>

